name: Publish package to GitHub Packages
on:
  push:
    branches: [main]
    paths: [clients/typescript/package.json]
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: clients/typescript

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          registry-url: "https://npm.pkg.github.com"
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
